<!DOCTYPE html>
<html lang="en">

<body>
  <h1>New Album</h1>
<h2>Add a new album</h2>
  <form action="/albums" method="POST">
    {% if errors %}
  
    <p class="t-errors">
      Your submission contains errors: {{ errors | join(', ')}}
    </p>
  {% endif %}
  

    <h2><label for="title">Title</label>
    <br>
    <input type="text" name="title" id="title"></h2>


  
  <h3><label for="release_year">Release Year</label></h3>

  <p><input type="text" name="release_year" id="release_year">
</p>


<p>
  <input type="submit" value="Create Album">
</p>
</form>

</body>
</html>